<h2>Flexible Stock</h2>
<%= form_for [:admin, @product] do |f| %>
  <%= f.check_box(:cut_from_whole) %>
  <%= f.label :flexible_variants do %>
    <%= "Flexible variants" %>
  <% end %>
  <br />
  <%= f.text_field(:units_on_hand) %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>

